/* styles.css */



h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #eee;
    margin-bottom: 10px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.edit-mode input, .edit-mode select, .edit-mode textarea {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}